<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ac964734-dcf9-42fe-80fb-9ccaa4a35bc9/resourceGroups/pizzariaproject_group/providers/Microsoft.Web/sites/pizzariaproject01</ResourceId>
    <ResourceGroup>pizzariaproject_group</ResourceGroup>
    <ApiResourceId>/subscriptions/ac964734-dcf9-42fe-80fb-9ccaa4a35bc9/resourceGroups/pizzariaproject_group/providers/Microsoft.ApiManagement/service/pizzariaapi01api/apis/pizzariaapi01</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pizzariaproject01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>bcd62d9c-ca44-4893-b8a1-83daaaf59d3d</ProjectGuid>
    <MSDeployServiceURL>pizzariaproject01.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pizzariaproject01</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$pizzariaproject01</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>