<app-header class="header" *ngIf="controleNavHeaderFooter"></app-header>
<app-footer *ngIf="controleNavHeaderFooter"></app-footer>
<app-nav class="nav" *ngIf="controleNavHeaderFooter"></app-nav>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css">
<script src="../../../node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
      $('.senha-hidden').each(function () {
        var senha = $(this).text();
        var asteriscos = '*'.repeat(senha.length); // Cria uma string de asteriscos do mesmo comprimento da senha
        $(this).text(asteriscos); // Substitui o texto da senha pelos asteriscos
      });
    });
</script>
    


<app-login [exibirLogin]="exibirLogin" (loginSucesso)="loginEfetuado()"></app-login>
