.cardinicio .title {
    background-color: white;
    color: black; 
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.home .subtitulo{
    font-size: 1.1rem;
    color: black;

}
.mat-mdc-card-subtitle{
    background-color: white;
    color: black;
}
