<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/inicio">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item routerLink="/usuarios">
                <i class="material-icons">
                    adb
                </i>
                Usuários
            </a>
            <a mat-list-item routerLink="/produtos">
                <i class="material-icons">
                    local_hospital
                </i>
                Catálogo
            </a>
            <a mat-list-item routerLink="/materia-prima">
                <i class="material-icons">
                    room_service
                </i>
                Materia Prima
            </a>

            <!-- Menu Histórico com Popup Matéria Prima -->
            <mat-menu #historicoMenu="matMenu">
                <button mat-menu-item (click)="navigateTo('/materia-prima-historico')">Matéria Prima</button>
                <!-- Outros itens de histórico podem ser adicionados aqui -->
            </mat-menu>
            <button mat-list-item [matMenuTriggerFor]="historicoMenu">
                <i class="material-icons">history</i>
                Histórico
            </button>


        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="navegacaocontent">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
